//body{
//  display: flex;
//  justify-content: center;
//}

//.container{
//  min-width: 1200px;
//}

.menuItem{
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}

